.main-page {
  background-color: #fdceb1; }

.header {
  height: 100px;
  line-height: 100px;
  width: 100%;
  background-color: #f58646;
  color: white; }
  .header .app-title {
    font-size: 50px;
    padding-left: 5%;
    user-select: none; }

.inner {
  width: 1400px;
  margin: 0 auto; }

.card-inner {
  padding: 0 15px; }

.strong {
  font-weight: bold; }

.form-title {
  margin-bottom: 10px;
  font-size: 15px; }

.input-default {
  height: 35px;
  border-radius: 4px;
  background-color: #fff;
  color: #000000;
  padding: 5px;
  font-size: 13px; }

.default-btn {
  width: 50px;
  text-align: center;
  height: 35px;
  line-height: 35px;
  color: #fff;
  background-color: #c0865d;
  border-radius: 5px;
  transition: opacity 0.3s; }
  .default-btn:hover {
    opacity: 0.7; }

.is-align-center {
  text-align: center; }

.radio-btn {
  margin-left: 10px;
  cursor: pointer; }
  .radio-btn:first-child {
    margin-left: 0; }

.attention {
  font-size: 13px;
  font-weight: lighter;
  background-color: red;
  margin-left: 5px;
  padding: 2px; }

.main-container {
  width: 100%;
  padding-top: 3%;
  display: flex; }

.task-container {
  width: 60%; }
  .task-container .tasks-list {
    width: 90%;
    margin: 0 auto;
    max-height: 500px;
    overflow: scroll;
    padding: 20px 30px;
    background-color: #b1784f;
    border-radius: 5px 5px 0 0; }
    .task-container .tasks-list .task-card {
      border-radius: 5px;
      margin-top: 10px;
      background-color: #fff; }
      .task-container .tasks-list .task-card .task-name {
        height: 30px;
        line-height: 30px; }
      .task-container .tasks-list .task-card .task-detail {
        border-radius: 0 0 5px 5px;
        height: 50px;
        line-height: 50px;
        display: flex;
        justify-content: space-between;
        background-color: whitesmoke; }
        .task-container .tasks-list .task-card .task-detail__text-box {
          display: flex; }
          .task-container .tasks-list .task-card .task-detail__text-box__detail-text {
            margin-left: 20px; }
            .task-container .tasks-list .task-card .task-detail__text-box__detail-text:first-child {
              margin-left: 0; }
        .task-container .tasks-list .task-card .task-detail__btn-box__compleate-btn {
          cursor: pointer; }
        .task-container .tasks-list .task-card .task-detail__btn-box__edit-task {
          margin-left: 15px; }
      .task-container .tasks-list .task-card:first-child {
        margin-top: 0; }
  .task-container .tasks-controll-box {
    width: 90%;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #81593d;
    border-radius: 0 0 5px 5px; }
    .task-container .tasks-controll-box .clean-all-task {
      width: 40%; }

.form-container {
  width: 40%; }
  .form-container .form-content {
    width: 95%;
    margin: 0 auto; }
    .form-container .form-content .add-task-form {
      padding: 15px 20px;
      background-color: #8b664f;
      color: #fff;
      border-radius: 5px; }
      .form-container .form-content .add-task-form__input-box {
        margin-top: 20px; }
        .form-container .form-content .add-task-form__input-box:first-child {
          margin-top: 0; }
        .form-container .form-content .add-task-form__input-box__task input {
          width: 100%; }
        .form-container .form-content .add-task-form__input-box__btn-box {
          display: flex; }
          .form-container .form-content .add-task-form__input-box__btn-box .select-priority {
            cursor: pointer;
            margin-left: 10px; }
            .form-container .form-content .add-task-form__input-box__btn-box .select-priority:first-child {
              margin-left: 0; }
        .form-container .form-content .add-task-form__input-box .form-btn {
          width: 40%; }
