.main-page {
  background-color: #fdceb1;
  color: #fff;
}

.inner {
  width: 1350px;
}

.strong {
  font-weight: bold;
}

.form-title {
  margin-bottom: 10px;
  font-size: 15px;
}

.input-default {
  height: 35px;
  color: #000000;
  padding: 5px;
  font-size: 13px;
}

.default-btn {
  width: 50px;
  text-align: center;
  height: 35px;
  line-height: 35px;
  color: #fff;
  background-color: #c0865d;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.7;
  }
}

.message {
  background-color: #d42f2f;
  padding: 15px;
  width: 70%;
}

.is-align-center {
  text-align: center;
}

.label-require {
  font-size: 13px;
  font-weight: lighter;
  background-color: #d42f2f;
  margin-left: 5px;
  padding: 2px;
}

.cancel-select {
  user-select: none;
}

.thin {
  opacity: 0.7;
}

//共通部分
.contents-box, .inner, .message {
  margin: 0 auto;
}

.task-count, .tasks-controll-box, .tasks-list {
  padding: 20px 30px;
}
.task-count, .tasks-controll-box {
  background-color: #81593d;
}

.task-card, .input-default {
  background-color: #fff;
}

.task-detail, .task-detail__text-box, .tasks-controll-box {
  display: flex;
}

.contents-box, .tasks-controll-box, .task-detail {
  justify-content: space-between;
}

.input-default, .default-btn, .message, .task-container__wrapper, .form-container__wrapper,.task-card{
  border-radius: 5px;
}

.clean-all-task, .form-btn {
  width: 40%;
}

//ヘッダー
.header {
  height: 100px;
  line-height: 100px;
  background-color: #f58646;
  & .app-title {
    font-size: 50px;
  }
}

//メイン
.main-container {
  padding-top: 3%;
}

.contents-box {
  display: flex;
}

//タスク表示欄
.task-container {
  width: 55%;
  &__wrapper {
    background-color: #b1784f;
  }
}

.task-count {
  border-radius: 5px 5px 0 0;
  & .strong {
    padding-right: 10px;
  }
}

.tasks-list{
  height: 500px;
  overflow: scroll;
  & .task-card {
    margin-top: 10px;
    color: #000000;
    &:first-child {
      margin-top: 0;
    }
    & .card-inner {
      padding: 0 15px;
    }
    & .task-name {
      height: 30px;
      line-height: 30px;
    }
    & .task-detail {
      border-radius: 0 0 5px 5px;
      height: 50px;
      line-height: 50px;
      background-color: #eeeeee;
      & .detail-text {
        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

.tasks-controll-box {
  border-radius: 0 0 5px 5px;
  & .sort-btn {
    background-color: #d65a5a;
    width: 20%;
  }
}

//フォーム
.form-container {
  width: 40%;
  &__wrapper {
    background-color: #8b664f;
  }
}

.add-task-form {
  padding: 15px 20px;
  
  &__input-box {
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
    &__task input {
      width: 100%;
    }
    &__btn-box {
      & .select-priority {
        cursor: pointer;
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
      }
    }        
  }
}